:root {
  /* Text */
  --text-light: #FFFFFF;
  --text: #252B42;
  --text-second: #737373;
  --text-muted: #BDBDBD;
  --text-primary: #23A6F0;
  --text-success: #2DC071;
  --text-danger: #E74040;
  
  /* Backgrounds */
  --background: #FFFFFF;
  --background-sec: #23856D;

  --font-primary: 'Montserrat', sans-serif;

  font: 18px/145% var(--text);
  color: var(--text);
  background: var(--background);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--font-primary);
  font-weight: 700;
  color: var(--text);
}

h2 {
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.2px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.1px;
}

h4 {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
}

h6 {
  font-size: 14px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

#link {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

#paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
}


